*{
	margin: 0;
	padding: 0;
	font-family: arial,sans-serif;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
nav ul{
	list-style: none;
}
nav ul li{
	display: inline-block;
	text-align: center;
	width: 50px;
	padding: 20px 10px;
}
.right{
	float: right;
}

.main{
	margin: 50px;
	padding: 50px;
}
.google{
	text-align: center;
	font-size: 50px;

}
#g1{
	color: blue;
}
#o1{
	color: red;
}
#o2{
	color: yellow;
}
#g2{
	color: blue;
}
#l{
	color: green;
}
#e{
	color: red;
}
.search-bar{

	text-align: center;
}
.search-bar input{
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
	width: 60%;
	height: 35px;
}
.search-bar input:hover{
	box-shadow: 0px 1px 2px 1px gray;
}
.search-button{
	text-align: center;
	margin: 4px;

}
.search-button button{
	background-color: lightgray;
	width: 120px;
	height: 40px;
	cursor: pointer;
}
.search-button button:hover{
	background-color: gray;
}
footer ul{
	list-style: none;
	background-color: lightgray;

}
footer ul li{
	display: inline-block;
	text-align: center;
	width: 50px;
	padding: 20px 20px;
}
